*{
margin:0; 
padding:0;
box-sizing:border-box;
}
.main{
display:flex;
flex-direction:row;
height:60%;
width:70%;
align-items:center;
background-color:pink;
top:50%;
left:50%;
transform:translate(-50%, -50%);
position:absolute;

}
.yel{
display:flex;
height:100%;
width:20%;
flex-direction: column;
align-items:center;
background-color:yellow;
padding:2rem;
gap:2rem;
overflow:scroll;
}

.yel-1{
height:50%;
width:100%;
background-color:lightblue;
overflow:scroll;
}
.yel-2{
height:50%;
width:100%;
background-color:lightblue;
overflow:scroll;
}
.gre{
display:flex;
height:100%;
width:100%;
flex-direction: column;
align-items:center;
background-color:lightgreen;
padding:5rem;
gap:5rem;
overflow:scroll;
}
.bl-1{
height:60%;
width:100%;
background-color:blue;
padding:2rem;
display:flex;
gap:2rem;
overflow:scroll;
}
.bl-2{
height:60%;
width:100%;
background-color:blue;
padding:2rem;
display:flex;
gap:2rem;
overflow:scroll;
}
.red{
height:100%;
width:100%;
background-color:red;
padding:2rem;
overflow:scroll;
}

